#pwn1 {
  background: url("../../img/pwn1.jpg") no-repeat;
  background-size: cover;
  min-height: 250px;
  color: #ccccb3;
}
#pwn2 {
  background: url("../../img/pwn2.jpg") no-repeat;
  background-size: cover;
  min-height: 250px;
  color: #ccccb3;
}
#pwn3 {
  background: url("../../img/pwn3.jpg") no-repeat;
  background-size: cover;
  min-height: 250px;
  color: #ccccb3;
}
